# Mod15 Aggregation and Grouping

## Simple Aggregation in Pandas

In [1]:
import pandas as pd
import numpy as np

For a ``DataFrame``, by default the aggregates return results within each column:

In [2]:
rng = np.random.RandomState(42)
df = pd.DataFrame({'A': rng.rand(5),'B': rng.rand(5)}); df

          A         B
0  0.374540  0.155995
1  0.950714  0.058084
2  0.731994  0.866176
3  0.598658  0.601115
4  0.156019  0.708073

In [3]:
print(df.mean(), end="\n--------------\n")  
print(df.agg('mean'))                        # agg(): aggregation聚合  裡面可以放多個方法

A    0.562385
B    0.477888
dtype: float64
--------------
A    0.562385
B    0.477888
dtype: float64

In [4]:
df.agg(['mean','max'])

             A         B
mean  0.562385  0.477888
max   0.950714  0.866176

## Planets Data

In [5]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [6]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [7]:
planets.duplicated().any()

True

In [8]:
planets.dropna().describe()      # describe()會幫你列出一些基本的統計項目

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

## GroupBy

In [9]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],'data': range(6)})
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [10]:
df.groupby('key')            # groupby()的結果會是一個物件。會把相同 key的值 group在一起

In [11]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

#### Column indexing

In [12]:
planets.groupby('method')

In [13]:
planets.groupby('method')['orbital_period']

no computation is done until we call some aggregate on the object:

In [14]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [15]:
planets.groupby('method')['orbital_period'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

## apply() Method

#### DataFrame apply()

In [16]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],'data1': range(6),'data2': rng.randint(0, 10, 6)}); df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [17]:
df.iloc[:,1:].apply(max,axis=1)         # apply()會在兩欄資料中採用符合條件的那個值

0    5
1    1
2    3
3    3
4    7
5    9
dtype: int64

In [18]:
def norm_by_data2(x):
    # x is a DataFrame of group values
#     print(x,end='\n------------------\n')
    x['data1'] /= x['data2'].sum()
    return x

In [19]:
# using apply() method
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

##### Series apply()

In [20]:
ser = pd.Series(range(8,13));ser

0     8
1     9
2    10
3    11
4    12
dtype: int64

In [21]:
def times10(x):
    return x * 10 if x < 10 else x

In [22]:
ser.apply(times10)

0    80
1    90
2    10
3    11
4    12
dtype: int64

## Lab

<b>延續 planets 資料集，試著將所有的 'method' 偵測到的行星距離(distance) 最大(max) 與最小(min) 的資料顯示出來</b>

In [23]:
planets.groupby("method")["distance"].agg(['max','min'])

                                   max      min
method
Astrometry                       20.77    14.98
Eclipse Timing Variations       500.00   130.72
Imaging                         165.00     7.69
Microlensing                   7720.00  1760.00
Orbital Brightness Modulation  1180.00  1180.00
Pulsar Timing                  1200.00  1200.00
Pulsation Timing Variations        NaN      NaN
Radial Velocity                 354.00     1.35
Transit                        8500.00    38.00
Transit Timing Variations      2119.00   339.00

<b>如果有空值，用 0 取代</b>

In [24]:
planets.groupby("method")["distance"].agg(['max','min']).fillna(0)

                                   max      min
method
Astrometry                       20.77    14.98
Eclipse Timing Variations       500.00   130.72
Imaging                         165.00     7.69
Microlensing                   7720.00  1760.00
Orbital Brightness Modulation  1180.00  1180.00
Pulsar Timing                  1200.00  1200.00
Pulsation Timing Variations       0.00     0.00
Radial Velocity                 354.00     1.35
Transit                        8500.00    38.00
Transit Timing Variations      2119.00   339.00